/*
  Color Palette (use find and replace to change, we aren't fancy css wizards here)
  background: #66646b
  dark acc: #af5947
  light acc: #9c9398
  main: #e99c71
  light: #f2f2ee
*/

body {
  margin: 0;
  padding: 0;
  background-color: #66646b; 
  color: #e99c71; 
}

#root {
  max-width: none;
  margin: 0 0;
  padding: 0;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}

/* Navbar fixed to the top of the viewport */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh; /* Mobile only */
  background: #af5947; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adds a shadow for some depth */
  z-index: 1000; /* Ensure the navbar is above other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav bar items */
nav ul {
  display: flex;
  margin: 0;
  padding: 0.5rem 2rem;
  list-style-type: none;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
}
nav li {
  display: inline;
  text-decoration: none;
  color: #f2f2ee; 
  margin: 0 1em;
}
nav li a {
  text-decoration: none;
  color: #f2f2ee;  
  padding: 0.5rem 1rem; 
  border: 2px solid transparent; 
  border-radius: 4px; 
}

.wallet-button-container .wallet-adapter-button {
  background-color: #af5947; 
  color: #f2f2ee; 
}

  /* Stupid hack to hide the phantom logo */
.wallet-button-container .wallet-adapter-button .phantom-logo,
.wallet-button-container .wallet-adapter-button img {
  display: none !important;
}
.wallet-button-container .wallet-adapter-button::before {
  content: '';
  display: block;
  width: 2vmin; 
  height: 2vmin; 
  background-image: url('assets/wallet.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Main area styling overrides (don't apply to navbar) */
main {
  text-align: left;
  align-items: flex-start;
  font-size: 2vmin;
  padding-top: 8vh; /* Mobile only */
}

/* Common Primitives for non-user-facing ugly pages */

.Button-generic {
  background-color: #af5947;
  color: #f2f2ee;
  font-size: calc(2px + 2vmin);
  padding: 4px 4px 4px 4px;
  border-radius: 1px;
  margin: 4px 4px;
  cursor: context-menu;
}

.Button-small {
  background-color: #af5947;
  color: #f2f2ee;
  font-size: calc(2vmin);
  padding: 2px 1vmin 2px 1vmin;
  border-radius: 10px;
  margin: 2px 2px;
  cursor: pointer;
}

.left-align-container {
  text-align: left;
  max-width: none;
}

.Monospace-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(2vmin);
  font-family: "Roboto Mono", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  margin-top: 1px;
  margin-bottom: 1px;
}

.Standard-input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(2vmin);
  margin-top: 1px;
  margin-bottom: 1px;
}

.Footnote {
  font-size: calc(1vmin);
  margin-top: 0px;
  margin-bottom: 0px;
}

.tiny-vertical-divider {
  width: auto;
  height: calc(1vmin + 2px);
  display: inline-block;
}

.tiny-vertical-divider-one-char {
  width: 1vmin;
  height: calc(1vmin);
}

.hr-line-break {
  border-color: #af5947;
  background-color: #f2f2ee;
  height: 2px;
  width: 100%;
  margin-top: calc(1vmin);
  margin-bottom: calc(1vmin);
}

.Section-header {
  font-size: calc(2px + 3vmin);
  color: #e99c71;
}


/*
  Color Palette (use find and replace to change, we aren't fancy css wizards here)
  background: #66646b
  dark acc: #af5947
  light acc: #9c9398
  main: #e99c71
  light: #f2f2ee
*/
.Input-box-small {
  background-color: #9c9398;
  color: #f2f2ee;
  font-size: calc(2vmin);
  padding: 1px 1vmin 1px 1vmin;
  border-radius: 1px;
  margin: 2px 0px;
  cursor: auto;
}

.Input-box-pubkey {
  background-color: #9c9398;
  color: #f2f2ee;
  font-size: calc(1.5vmin);
  padding: 1px 1vmin 1px 1vmin;
  border-radius: 1px;
  margin: 2px 0px;
  cursor: auto;
  overflow: auto;
  width: calc(1.5vmin * 32);
  /* Roughly one pubkey */
}

.Input-box-small::placeholder {
  background-color: #9c9398;
  color: #f2f2ee;
}

.Button-tiny-inline {
  background-color: #9c9398;
  color: #f2f2ee;
  font-size: calc(2vmin);
  height: calc(4px + 2vmin);
  padding: 0px 0px 0px 0px;
  border-radius: 1px;
  margin: 0px 0px;
  cursor: pointer;
}

  /*  Modifications for desktop screen sizes */
@media (min-width: 768px) {
  nav{
    height: 4vh;
  }
  main {
    padding-top: 4vh;
  }
  /*  Navbar becomes stacked horizontally */
  nav ul {
    flex-direction: row;
    padding: 0.5rem 2rem;
    align-items: center;
    justify-content: flex-start;
  }
  nav li {
    margin: 0 1em; 
  }
  .wallet-button-container {
    margin-left: auto;
  }
}